body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e6e6e6;
}

#header{
    position: relative;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.70);
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

#header h1{
    font-size: 3rem;
    color: #333;
}

#header > button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    align-items: center;
}

#header .league-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px;
}

#logo{
    height: 150px;
    vertical-align: middle;
    background-color: transparent;
    border: none;
}

.league-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.league-buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.league-buttons img{
    width: 100px;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 0;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-top: 5px;
}

.separator {
    width: 100%;
    height: 3px;
    background-color: #4c70af;
    margin: 10px 0 20px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #800080;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.team-names {
    font-weight: bold;
}

#logout-button {
    color: rgb(0, 0, 0);
    padding: 10px 16px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 15px;
    border-width: 20px;
    font-family: 'Marker Felt', fantasy;
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-right: 50px;
}

#logout-button:hover {
    background-color: #49b9e5;
    padding: 15px 30px;
}